@import '../../../../common/VariableCss/variable.scss';

.container {
    width: 100%;
    height: auto;

    .itemSlide{
        width: 150px;
        height: 100%;
        margin-right: 7px;
        position: relative;


        &:hover {
            .nameActor{
                color: $orange;
            }
        }

        .imgActor{
            margin-top: 10px;
            width: 150px;
            height: auto;
            border-radius: 5px;
            cursor: pointer;
            transition: box-shadow .5s;
            position: relative;
            overflow: hidden;

            .img{
                width: 100%;
                height: 100%;
            }

            &:hover{
                .inforActor{
                    transform: translateY(0%)
                }


            }

            .inforActor{
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                padding: 15px ;
                
                text-align: center;
                background-color: rgba(3, 3, 3, 0.843);
                color: $white;
                font-size: 1.7rem;
                transform: translateY(100%);
                transition: transform .5s;
                
            }
        }

        .nameActor{
            text-align: center;
            color: $white;
            font-size: 1.7rem;
            margin-top: 10px;
            transition: color 0.5s;
        }
    }
}